<div>

  <a href="/articles/{{url_title}}">{{collection.title}}</a>
  <p>{{collection.body}}</p>
  <div>{{collection.author}}</div>
  <a href="/articles/{{collection.title}}/edit">Edit</a>
  <a href="/articles">Back</a>

</div>