<h1>

  Edit Articles</h1>

<form action="/articles/{{collection.title}}/edit?_method=PUT" method="post">
  <label for="title">Title:</label>
  <input type="text" id="title" name="title" value="{{collection.title}}">
  <label for="body">Body:</label>
  <input type="text" id="body" name="body" value="{{collection.body}}">
  <label for="author">Author:</label>
  <input type="text" id="author" name="author" value="{{collection.author}}">
  <button type="submit">Submit</button>
</form>

<a href="/articles/{{collection.title}}">Back</a>
<a href="/articles/{{collection.title}}/edit?_method=DELETE">DELETE</a>